.CheckBoxContainer {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1.5px solid #000;
  border-radius: 50px;
  cursor: pointer;
}
.CheckBoxContainer:hover {
  border: 1.5px solid #ff387e;
}
.checkIcon {
  position: absolute;
  font-size: 15px;
  color: #ff387e;
}
